<div class="container">
        <h3 mat-dialog-title>Pesos cajas</h3>
        <div>
            <div class="example-header">
                <mat-form-field>
                    <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                    <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value"
                        (click)="filter.value=''; applyFilter('');">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="loteId">
                    <mat-header-cell *matHeaderCellDef> Lote </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field floatLabel="never">
                            <input onlyNumber matInput placeholder="Lote" [value]="element.loteId" [(ngModel)]="element.loteId">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="cajaId">
                    <mat-header-cell *matHeaderCellDef> Caja </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field floatLabel="never">
                            <input onlyNumber matInput placeholder="Caja" [value]="element.cajaId" [(ngModel)]="element.cajaId">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="peso">
                    <mat-header-cell *matHeaderCellDef> Peso </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field floatLabel="never">
                            <input onlyNumber matInput placeholder="Peso" [value]="element.peso" [(ngModel)]="element.peso">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="observaciones">
                    <mat-header-cell *matHeaderCellDef> Observaciones </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Observaciones" [value]="element.observaciones"
                                [(ngModel)]="element.observaciones">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
</div>