<html>

<head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <style type="text/css">

        </style>
</head>

<body class="c13 doc-content">
        <h3>APLICACI&Oacute;N PARA RELACIONAR TODO EL CONTENIDO DE CAJAS PARTICULARES</h3>
        <p></p>
        <p>La aplicaci&oacute;n corre conectada a Internet. Los datos introducidos se almacenan
                localmente por lo que siempre hay que ejecutar el mismo lote  en el mismo ordenador.</p>
        <p>Conceptos b&aacute;sicos:</p>
        <ul>
                <li>Item: Elemento contenido en una caja</li>
                <li>Caja: Caja &ldquo;Baxter&rdquo; que contiene una serie
                        de Items.</li>
                <li>Lote: Conjunto de caja (s) Baxter con el mismo remitente
                        y destinatario3.</li>
        </ul>
        <p><b>Todos los pesos deben indicarse en Kg</b></p>
        <p>Una vez introducidos todos los datos se exportar&aacute;n a una excel. Esa hoja la
                guarda el remitente y entrega una copia en soporte digital al &ldquo;administrador del
                contenedor&rdquo; al entregarle f&iacute;sicamente las cajas. En ese momento:</p>
        <ol start="1">
                <li>se cerrar&aacute;n las cajas</li>
                <li>se les pondr&aacute;n las etiquetas (cara superior y
                        frontal)</li>
                <li>se les dar&aacute; el n&uacute;mero de caja definitivo que se
                        pondr&aacute; en la etiqueta superior y en cada una de las caras en su esquina superior derecha.
                </li>
        </ol>
        <p>La diferencia entre el peso de la caja y la suma de los pesos de los &iacute;tem no puede ser
                superior a 2 Kg.</p>
        <p>En los &iacute;tems donde los pesos unitarios de los item -por ejemplo libros o
                ropa- no son iguales se har&aacute; el promedio de &ldquo;peso del &iacute;tem&rdquo;/&rdquo;n&ordm;
                de &iacute;tems&rdquo; (por ejemplo 1/10 (1 kg/10 prendas de ropa): peso unitario: 0.10 Kg por
                prenda.</p>
</body>

</html>