<div class="container">

    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
        <h3 mat-dialog-title>Datos guardado</h3>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Nombre, apellidos y telef. Destinatario" [(ngModel)]="destinatario3"
                    name="destinatario3" required>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Observaciones del lote" [(ngModel)]="observaciones"
                    name="observaciones">
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div *ngIf="this.cajasConProb.trim().length>0" style="color: red;">
            Han ocurrido los siguientes problemas: {{cajasConProb}}
            Revise que los datos de pesos de las cajas estén introducidos en Kgs
        </div>

        <div *ngIf="this.cajasNoIntroducidas.trim().length>0" style="color: red;">
            {{cajasNoIntroducidas}}. Debe introducir los valores <mat-icon>how_to_vote</mat-icon>
        </div>

        <div mat-dialog-actions>
            <button style="margin-bottom: 20px;" mat-button [type]="submit" [disabled]="!formControl.valid"
                (click)="exportSheets()">Exportar a Sheets
                <mat-icon>send</mat-icon></button>
            <button style="margin-bottom: 20px;" mat-button [type]="submit" [disabled]="!formControl.valid"
                (click)="exportExcel()">Exportar a Excel
                <mat-icon>arrow_drop_down_circle</mat-icon></button>
            <button style="margin-bottom: 20px;" mat-button (click)="onNoClick()"
                tabindex="-1"><mat-icon>cancel</mat-icon>Cancelar</button>
            <br />
        </div>
    </form>
</div>