<div class="container">

    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
        <h3 mat-dialog-title>Datos guardado</h3>

        <div class="form">
            <mat-form-field color="accent">
                <input style="width: 200px;" matInput #input class="form-control" placeholder="Nombre usuario" [(ngModel)]="nombreUsuario"
                    name="nombreUsuario" required>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Nombre, apellidos y telef. Destinatario" [(ngModel)]="destinatario3"
                    name="destinatario3" required>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input onlyNumber matInput #input class="form-control" placeholder="Peso total de las cajas (Kgs.)" [(ngModel)]="pesoLotesUsr"
                    name="pesocaja" required>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Observaciones del lote" [(ngModel)]="observaciones"
                    name="observaciones">
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div *ngIf="this.pesodiff>0" style="color: red;">
            Peso introducido: {{pesoLotesUsr}} Kgs. Peso calculado: {{pesoCajaCalculado}} Kgs. Diferencia (abs): {{pesodiff | number : '1.2-2'}} Kgs.
        </div>

        <div *ngIf="this.pesodiff>2" style="color: red;">
            El peso diferencia es demasiado grande. Revise que los datos estén introducidos en Kgs
        </div>

        <div mat-dialog-actions>
            <button style="margin-bottom: 20px;" mat-button [type]="submit" [disabled]="!formControl.valid"
                (click)="confirmExport()">Exportar a Excel
                <mat-icon>arrow_drop_down_circle</mat-icon></button>
            <button style="margin-bottom: 20px;" mat-button (click)="onNoClick()"
                tabindex="-1"><mat-icon>cancel</mat-icon>Cancelar</button>
            <br />
        </div>
    </form>
</div>