<div class="container">
  <mat-accordion>
    <!-- #enddocregion basic-panel -->
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>help_outline</mat-icon>&nbsp;
          </mat-panel-title>
          <mat-panel-description>
            <div *ngIf="panelOpenState">
              Cerrar panel de ayuda
            </div>
            <div *ngIf="!panelOpenState">
              Abrir ayuda
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-help-texts></app-help-texts>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="'Lote ' + tab">
        <app-table-content [indiceLoteSel]="tab"></app-table-content>
      </mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-flat-button style="border:none; padding:0;" title="Añadir nuevo lote" (click)="addTab()">+</button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <button mat-icon-button color="accent"
            (click)="DeleteAll()">
            <mat-icon>delete_forever</mat-icon>&nbsp;Eliminar todos los datos
          </button>
  </div>