<div class="container">

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <h3 mat-dialog-title>Nuevo elemento</h3>

    <div class="form">
      <mat-form-field color="accent" [class.cdk-visually-hidden]="true">
        <input matInput #input class="form-control" readonly="true" placeholder="Lote" [(ngModel)]="data.loteId" name="loteId" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input onlyNumber matInput class="form-control" placeholder="Caja" [(ngModel)]="data.cajaId" name="cajaId" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Descripción" [(ngModel)]="data.descripcion"
          name="descripcion" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Elige una categoría</mat-label>
        <mat-select required [(ngModel)]="data.categoria">
          <mat-option *ngFor="let item of comboData.categorias" [value]="item['categoria']"> {{ item.categoria }}
          </mat-option>
        </mat-select></mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input style="width: 50px;" onlyNumber matInput placeholder="Peso Unitario (Kgs)" [(ngModel)]="data.pesoUnitario"
          name="pesoUnitario" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      &nbsp;&nbsp;
      <mat-form-field color="accent" class="small-form-control">
        <input onlyNumber matInput class="form-control" placeholder="Cantidad" [(ngModel)]="data.cantidad"
          name="cantidad" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Observaciones" [(ngModel)]="data.observaciones"
          name="observaciones">
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button style="margin-bottom: 20px;" mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="confirmAdd()"><mat-icon>save</mat-icon>Guardar</button>
      <button style="margin-bottom: 20px;" mat-button (click)="onNoClick()" tabindex="-1"><mat-icon>cancel</mat-icon>Cancelar</button>
      <br/>
    </div>
  </form>
</div>