<div class="container">
  <h3 mat-dialog-title>Añadir un nuevo elemento</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent" [class.cdk-visually-hidden]="true">
        <input matInput #input class="form-control" readonly="true" placeholder="Caja" [(ngModel)]="data.cajaId" name="cajaId" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Descripción" [(ngModel)]="data.descripcion"
          name="descripcion" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Elige una categoría</mat-label>
        <mat-select [(ngModel)]="data.categoria">
          <mat-option *ngFor="let item of comboData.categorias" [value]="item['categoria']"> {{ item.categoria }}
          </mat-option>
        </mat-select></mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent" class="small-form-control">
        <input matInput #inputstate class="form-control" placeholder="Peso Unitario" [(ngModel)]="data.pesoUnitario"
          name="pesoUnitario" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      &nbsp;&nbsp;
      <mat-form-field color="accent" class="small-form-control">
        <input matInput #inputstate class="form-control" placeholder="Cantidad" [(ngModel)]="data.cantidad"
          name="cantidad" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="confirmAdd()">Guardar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>