<div class="mat-elevation-z8">
  <div class="mobile-buttons">
    <br />
    <button mat-raised-button color="secondary" title="Añadir nuevo ítem" (click)="addNew()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
    &nbsp;
    <button mat-raised-button color="secondary" title="Establecer los pesos de las cajas" (click)="PesosCajas()">
      <mat-icon aria-label="Example icon-button with a heart icon">how_to_vote</mat-icon>
    </button>
    &nbsp;
    <button mat-raised-button color="secondary" title="Exportar lista a Excel" (click)="ExportTOExcel()">
      <mat-icon>arrow_drop_down_circle</mat-icon>
    </button>
    &nbsp;
    <button mat-raised-button color="secondary" title="Eliminar todos los ítems" (click)="DeleteAll()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>

  <div class="no-mobile-buttons">
    <br />
    <button mat-raised-button color="secondary" title="Añadir nuevo ítem" (click)="addNew()">Nuevo ítem
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
    &nbsp;
    <button mat-raised-button color="secondary" title="Establecer los pesos de las cajas" (click)="PesosCajas()">Pesos cajas
      <mat-icon aria-label="Example icon-button with a heart icon">how_to_vote</mat-icon>
    </button>
    &nbsp;
    <button mat-raised-button color="secondary" title="Exportar lista a Excel" (click)="ExportTOExcel()">Exportar a
      Excel
      <mat-icon>arrow_drop_down_circle</mat-icon>
    </button>
    &nbsp;
    <button mat-raised-button color="secondary" title="Eliminar todos los ítems" (click)="DeleteAll()">Eliminar todo el lote
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filtrar datos">
    </mat-form-field>
  </div>

  <div class="table-container mat-elevation-z8 " #TABLE>
    <table mat-table #table [dataSource]="dataSource" matSort>
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="cajaId">
        <th mat-header-cell *matHeaderCellDef>
          <span class="no-mobile-label">Caja</span>
        </th>
        <td mat-cell *matCellDef="let row">
          <span class="no-mobile-label">{{row.cajaId}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let row">{{row.descripcion}}</td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>
          <span class="no-mobile-label">Categoría</span>
        </th>
        <td mat-cell *matCellDef="let row">
          <span class="no-mobile-label">{{row.categoria}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="pesoUnitario">
        <th mat-header-cell *matHeaderCellDef>
          <span class="no-mobile-label">Peso Un. (Kgs)</span>
        </th>
        <td mat-cell *matCellDef="let row">
          <span class="no-mobile-label">{{row.pesoUnitario | number : '1.2-2'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="peso">
        <th mat-header-cell *matHeaderCellDef>
          <span class="no-mobile-label">Peso (Kgs)</span>
        </th>
        <td mat-cell *matCellDef="let row">
          <span class="no-mobile-label">{{row.pesoUnitario * row.cantidad | number : '1.2-2'}}</span>
        </td>
      </ng-container>

      <div class="no-mobile-label">
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef>Cantidad</th>
          <td mat-cell *matCellDef="let row">
            {{row.cantidad}}
          </td>
        </ng-container>
      </div>

      <!-- actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
        </th>

        <td mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent"
            (click)="startEdit(i, row.id, row.loteId,row.cajaId, row.descripcion, row.categoria, row.pesoUnitario, row.cantidad, row.observaciones)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>

          <button mat-icon-button color="accent"
            (click)="deleteItem(i, row.id, row.loteId, row.descripcion, row.cantidad, row.pesoUnitario, row.categoria)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No hay resultados
  </div>

  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="1000"
    [pageSizeOptions]="[50, 100, 250, 1000]">
  </mat-paginator>


</div>