<nav class="navigation">
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light">
      <a routerLink="home">
        <img src="favicon.ico" width="18" />
        <span class="logo">
        </span>
        <span class="title only-on-wide">Kosmódromo</span>
      </a>
      &nbsp;&nbsp;&nbsp;
      <a class="nav-link" routerLink="home" title="Página de inicio" data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show" routerLinkActive="active-link">Inicio</a>
      &nbsp;&nbsp;
      <a class="nav-link" routerLink="loteBoxes" title="Herramienta de administración de Lotes" data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show" routerLinkActive="active-link">Mis lotes</a>
      &nbsp;&nbsp;
      <a class="nav-link" routerLink="avisos" title="Avisos desde el Kosmodromo" data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show" routerLinkActive="active-link">Avisos</a>
      <span class="navigation-list">
        <a (click)="DeleteAll()" class="btn btn-light" type="button" style="float: right;">
          <mat-icon>delete_forever</mat-icon>
        </a>
      </span>
    </nav>
  </div>
</nav>
<router-outlet></router-outlet>