<mat-toolbar color="primary">
  <span>Operaciones Kosmódromo</span>
  <span class="spacer"></span>
  <button mat-raised-button (click)="addTab()">
    Nueva Caja
  </button>
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">

    <button mat-raised-button
            [disabled]="tabs.length === 1"
            (click)="removeTab(index)">
      Eliminar Caja
    </button>
    <app-table-content [indiceCajaSel]="index"></app-table-content>
  </mat-tab>
</mat-tab-group>